* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

}

.hidden {
    visibility: hidden;
}

.back-top-wrap {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    background-color: #80F7D1;
    padding: 1rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 100;
}

.back-top-wrap:hover {
    background-color: #00a2ff;
    color: #80F7D1;
}

.back-top-wrap:hover .fas.fa-arrow-up {
    color: white;
}

.fas.fa-arrow-up {
    color: #00488F;
    transition: 0.3s ease-in-out;
}
